---
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
---
<Layout title="Codeflake | Python">
    <Nav>
		<a href="/">Home</a>
		<a href="/cs">CS</a>
	</Nav>
    <main>
        <h1>Python</h1>
        <p>Have you ever heard of Python? Well the truth is that there are a lot of programs written in Python like Youtube, arduinobot or MEE6 for discord. Python is a high-level languague interpreted to Rust released in 1991, by Guido van Rossum.</p>
        <p>Highly used for data analysis, automate tasks and not as high but it's also used for bulding websites. Just so everyone knows: Python will never replace Node.js or PHP. Python isn't meant for building websites while Node.js is meant for building websites using backend javascript, PHP is the same as Node.js but easier to learn and embedded in HTML.</p>
        <div class="next" onclick="location.href = '/python/print'" style="background-color: wheat; padding: 10px; border-radius: 7px; width: auto; text-align: center;">Next lesson</div>
    </main>
</Layout>
<style>
    main {
        width: 80%;
        max-width: 520px;
        padding: 0 16px;
    }
    main p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
    @media (max-width: 450px) {
        img {
            object-fit: contain;
        }
    }
</style>