---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
---
<Layout title="Codeflake">
	<Nav>
		<a href="/">Home</a>
		<a href="/cs">CS</a>
	</Nav>
	<main>
		<h1 style="margin-bottom: 40px; text-align: center;">Codeflake</h1>
		<ul role="list" class="link-card-grid">
			<!---
			<Card
				href="/langs"
				title="Programming Languagues"
				body="Learn how programming languagues work and how to use them."
			/>
			-->
			<Card
				href="/cs"
				title="Computer Science"
				body="Learn how a Windows 10 computer works."
			/>
			<!---
			<Card
				href="/PaaS"
				title="PaaS"
				body="What are PaaS and how to get started."
			/>
			<Card
				href="/databases"
				title="Databases"
				body="What are databases and how to get started storaging data."
			/>
			<Card
				href="/codeflake"
				title="Learn about Codeflake"
				body="Learn where is our platform hosted, what programming languague uses, framework and our team."
			/>
			-->
			<Card
				href="/discord"
				title="Our Community"
				body="In our community your questions will be solved about programming and you can also play games with people."
			/>
		</ul>
	</main>
</Layout>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
	* {
		margin: auto;
		padding: auto;
		box-sizing: border-box;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		width: 80%;
		font-family: 'Fira Sans', sans-serif;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		padding: 0;
	}
	a {
        text-decoration: none;
        color: #000;
    }
</style>
