<nav>
    <img src="codeflakelogo.png" alt="codeflake">
    <slot/>
</nav>
<style>
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav img {
        object-fit: cover;
        height: 140px;
    }
</style>