---
import logo from '/public/codeflakelogo.png';
---
<style>
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    nav img {
        margin-left: 0;
        object-fit: cover;
        height: 140px;
    }
    nav .menu {
        display: none;
    }
    @media (max-width: 450px) {
        nav .menu {
            display: block;
        }
        nav .menu svg {
            padding-right: 0px;
            margin-right: 0px;
            width: 25px;
            height: 25px;
        }
        nav .content {
            display: none;
        }
        nav img {
            height: 100px;
        }
    }
</style>
<nav>
    <img src={logo} alt="codeflake" loading="lazy"/>
    <div class="content">
        <slot/>
    </div>
    <div class="menu" onclick="location.href = '/'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
    </div>
</nav>