---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import favicon from '/codeflakebg.jpg'
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/e4d71b6741.js" crossorigin="anonymous" defer></script>
		<meta name="title" content="Codeflake">
		<meta name="description" content="Codeflake is a programming and chilling community that will resolve all your questions in less than 24h. Cool for new developers!">
		<meta name="og:title" content="Codeflake">
		<meta name="og:description" content="Codeflake is a programming and chilling community that will resolve all your questions in less than 24h. Cool for new developers!">
		<meta name="theme-color" content="#21c4e4">
		<meta name="keywords" content="Codeflake, codeflakes, codeflake programming, codeflake community, codeflake computer science, computer science, php, javascript, python, js, chilling discord community, c, c++, c#, windows, windows calculator, cli, discord, discord programming, astro, sites, example sites, comunidad de programación">
	</head>
	<body>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	* {
		margin: auto;
		padding: auto;
	}
	:root {
		--accent-gradient: linear-gradient(45deg, #36a5bb, #21c4e4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100vh;
		padding-bottom: 30px;
	}
	nav img {
		margin: 0;
	}
	nav .content {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 0;
	}
	nav .content a {
		font-size: 20px;
		margin-left: 10px;
	}
</style>
