---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/codeflakebg.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>
			$('a').click(function (event) {
				let last = window.location.search
				console.log(last)
				event.preventDefault();
				if(!$(this).attr("href").startsWith("https://")) {
					window.history.pushState("", "", $(this).attr("href"));
					$('body').load($(this).attr('href'));
				} else {
					window.open($(this).attr('href'));
				}
			});
			window.addEventListener('popstate', function (event) {
				location.reload()
			});
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: auto;
		padding: auto;
	}
	:root {
		--accent-gradient: linear-gradient(45deg, #36a5bb, #21c4e4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body {
		width: 100%;
		min-height: 100vh;
	}
</style>
